*{
  margin: 0%;  
}
.letra{
    font-size: 10vh;
    color: white;
}
.header{
    display: flex;
    width: 100%;
    height: 12vh;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.cont{
    display: flex;
    width: 100%;
    height: 73vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 226, 113);
}
.sidebar{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 15%;
    height: 100%;
    background-color: rgb(43, 55, 226);
}
.footer{
    display: flex;
    width: 100%;
    height: 17vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 43, 43);
}